<div class="jumbotron text-center">
  <h1>Application <span class="text-primary" style="font-weight: bold;font-size: 50px;font-family: 'Rochester', cursive;">Pangolin</span></h1>
  <p class="lead">Bienvenue sur le site de gestion du carnet d'adresse pour "Pangolin" </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">S'inscrire</a> <a class="btn btn-success ml-3" [routerLink]="['/login']">Se connecter</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Technologies Node.js/Express utilisé pour organiser le modèle de données et les requetes dans la base de données</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI pour generer des composants,services. Un serveur local et une compilation rapide</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Moyen d'authentification des utilisateurs. Connexion et sauvegarde des données utilisateur</p>
  </div>
</div>
